body, html {
    height: 100%;
    background-color: #2d3813;
}

.hero-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
        ), url("../images/Sequoia-National-Park.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #2d3813;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1ece6;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: #26330359;
    max-width: 720px;
}
select {
    width: 191px;
}

nav {
    backdrop-filter: blur(10px);
    background-color: #26330359;
    color: #f1ece6;
}

.nav-link, .navbar-brand {
    color: #f1ece6;
    padding: 7px, 14px;
}

.active{
    color: #746c62;
}

.nav-link:hover, .navbar-brand:hover {
    color: #678f4c;
}

.navbar-toggler{
    border-color: #746c62;
}


#or-search:after, #or-search:before {
    content: "\000a0\000a0\000a0\000a0\000a0\000a0";
    text-decoration: line-through;
    vertical-align: text-top;

}

.search-box {
    width: 220px;
}

.btn-light {
    background-color: #746c62;
    color: #f1ece6;
    border: none;
}

.btn-light:hover {
    background-color: #678f4c;
    color: #f1ece6;
}

#scroll-text{
    top: 90%;
    opacity: 0;
}

.scroll-down {
    animation: pop-up 4s linear 6 forwards;
}

@keyframes pop-up {
    0% {
        opacity: 0.9;
        bottom: 10%;
    }
    25% {
        opacity: 0.3;
        bottom: 5%;
    }
    50% {
        opacity: 0.9;
        bottom: 10%;
    }
    75% {
        opacity: 0.3;
        bottom: 5%;
    }
    100% {
        opacity: 0.9;
        bottom: 10%;
    }
}
    
#park-placeholder {
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(228, 225, 222, 0.315)
}